extends layout

block content
    h1 Login page

    form(action="/login",method="POST")
        div.form-group
            label(for="username") Login
            input(type="text",placeholder="Login",name="username").form-control#username
        div.form-group
            label(for="password") Password
            input(type="password",placeholder="Password",name="password").form-control#password
        button(type="submit").btn.btn-default Submit
