nav.navbar.navbar-default
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            li
                a(href="/") Гланвая
        ul.nav.navbar-nav.navbar-right
            li
                a(href="/login") Войти